img {
  height: 400px;
  width: 400px;
  margin: 10px;
}

.Portfolio {
  color:azure;
  text-align: center;
  background-image: url("https://media2.giphy.com/media/kspVl6FzbdblOMKRmM/giphy.gif?cid=ecf05e479dfh030h8gto435urayd92xit5pzyeoh10nd1vhz&ep=v1_gifs_related&rid=giphy.gif&ct=g");
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}